USERNAME=
PASSWORD=
ROOMNAME=
DEV=true
SUGGESTION_HOOK_URL=https://discord.com/api/webhooks/...
ERROR_HOOK_URL=https://discord.com/api/webhooks/...
WIREGUARD_PRIVATE_KEY=
WIREGUARD_ADDRESSES=
WIREGUARD_PUBLIC_KEY=
SERVER_COUNTRIES=
      